
--- 
apiVersion: v1
kind: Service
metadata: 
  name: "{{ fileserver_hostname }}"
  namespace: "{{ k8s_ns }}"
spec: 
  ports: 
    - 
      nodePort: {{ fileserver_port }}
      port: {{ file_port }}
      targetPort: {{ file_port }}
  selector: 
    app: "{{ fileserver_hostname }}-deployment"
  type: NodePort
